<%= form_with(model: restaurante,  html: {multipart: true } ) do |form| %>
  <% if restaurante.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(restaurante.errors.count, "error") %> prohibited this restaurante from being saved:</h2>

      <ul>
        <% restaurante.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

     <div class="field">
        <%= form.label :'nombre del restaurante' %>
        <%= form.text_field :nombre, placeholder:"Eje: Naranjito" %>
    </div>

     <div class="field">
        <%= form.label :'Dirección del restaurante' %>
        <%= form.text_field :direccion, placeholder:"Ej: Calle 11 #16-9" %>
    </div>

    <div class="field">
      <%= form.label :'Telefono', :maxlength => 15 %>
      <%= form.text_field :telefono%>
    </div>
    <div class="field">
      <%= form.label :'latitud'%>
      <%= form.text_field :lat %>
    </div>

    <div class="field">
      <%= form.label :'longitud'%>
      <%= form.text_field :lng %>
    </div>
   
    <div class="field">
      <%= form.label "Agregue aqui su logo" %>
      </br>
      <%= form.file_field :avatar %>
      
      </div>
      <div class="field">
      <%= form.label "Agregue su menu como imagen" %>
      </br>
      <%= form.file_field :image %>
      
      </div>
      <div class="actions">
        <%= form.submit 'Crear' %>
      </div>
      <% end %>
  
