<p id="notice"><%= notice %></p>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="" />
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
<link rel="stylesheet" href="C:\Users\dgdie\Desktop\Quilifood\quilifood\leaflet.css" />
<script src="C:\Users\dgdie\Desktop\Quilifood\quilifood\leaflet.js"></script>

<h1>Restaurantes</h1>


<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Propietario</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @restaurantes.each do |restaurante| %>
      <tr>
        <td><%= restaurante.nombre %></td>
        <% if  restaurante.propietario %>
          <td><%= restaurante.propietario.nombres + ' ' + restaurante.propietario.apellidos %></td>
        <% else %>
          <td> SIN PROPIETARIO </td>
        <% end %>
        <% if can? :read, restaurante %>
          <td><%= link_to 'Mostrar', restaurante %></td>
        <% end %>
       
        <% if can? :update, restaurante  %>
          <td><%= link_to 'Editar', edit_restaurante_path(restaurante) %></td>
        <% end %>
        <% if can? :destroy, restaurante  %>
          <td><%= link_to 'Eliminar', restaurante, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Restaurante', new_restaurante_path %>
